@import "tailwindcss";
@import "tailwindcss-primeui";

@custom-variant dark (&:where(.dark, .dark *));

.p-popover-content {
   @apply bg-zinc-50 rounded-md;
}

@font-face {
   font-family: "Trickster";
   src: url("./Copperplate\ Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}

@page {
   size: A4;
   margin: 1sm;
}

@media print {
   body * {
      visibility: hidden;
   }
   body,
   html {
      height: auto;
      margin: 0;
      padding: 0;
   }

   .sheet,
   .sheet * {
      visibility: visible;
   }

   .sheet:last-child {
      page-break-after: auto;
   }
}
